* text=auto
*.po text linguist-generated=true
en.po text linguist-generated=false
*.pot text
*.rb text
*.sln text
*.csproj text
*.json text
*.md text
*.txt text
*.cs text
*.yml text
*.tscn text
*.tres text
*.shader text
*.xml text
*.*.import text
