[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Exec=Thrive
Name=Thrive
Icon=Thrive
Comment=Игра-симулятор эволюции, в которой вы будете управлять своим видом в чужой среде, чтобы выжить и эволюционировать.
Categories=Game;StrategyGame;
