openapi: 3.1.0
info:
  contact:
    email: talent@kruzhok.org
  description: |-
    Провайдер учетных данных для мобильных игр Берлоги.
    Предназначен для использования как мобильными приложениями, так и другими сервисами Берлоги.
    Для определения какому потребителю предназначена операция, нужно обратить внимание на её тэги.

    # Changelog

    ### 0.4
    Для [TalentOAuthConnect](#operation/TalentOAuthConnect) добавлен опциональный параметр `redirect_uri`.

    ### 0.3
    Для [TalentUserPlayers](#operation/TalentUserPlayers) добавлена поддержка TalentOAuth.
  title: Провайдер учетных данных Берлоги
  version: "0.4"
servers:
- description: Production Server
  url: https://talent.kruzhok.org/berloga-idp
- description: Development Server
  url: https://talent.test.kruzhok.org/berloga-idp
tags:
- description: "Операции, предназначенные для приложений"
  name: application
- description: "Операции, предназначенные для сервисов"
  name: service
- description: "Операции, предназначенные для сайтов"
  name: web
paths:
  /applications:
    get:
      description: |-
        Список приложений.

        По-умолчанию сортируется по дате создания от новых к старым (`order_by=created_at_desc`) и включает в себя только опубликованные приложения (`is_public=true`).
      operationId: ApplicationsList
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - description: |-
          Фильтрация по публичности приложений.

          - true - только опубликованные
          - false - только не опубликованные
          - all - все
        explode: true
        in: query
        name: is_public
        required: false
        schema:
          default: "true"
          enum:
          - "true"
          - "false"
          - all
          type: string
        style: form
      - description: Порядок сортировки результатов.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - created_at_asc
          - created_at_desc
          - updated_at_asc
          - updated_at_desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: OK
          headers:
            X-Count:
              description: Общее кол-во приложений входящих в выборку без учета пагинации.
              explode: false
              required: true
              schema:
                format: int64
                type: integer
              style: simple
        default:
          $ref: '#/components/responses/Error'
      summary: Список приложений
      tags:
      - application
      - web
  /issue-token:
    post:
      description: |-
        Запрос аутентфикационного токена игрока.

        Токен имеет ограниченное непродолжительное время жизни.
      operationId: IssueToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueToken_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueToken_201_response'
          description: OK
        default:
          $ref: '#/components/responses/Error'
      summary: Запрос аутентификационного токена
      tags:
      - application
  /player/{player_id}:
    get:
      description: |-
        Чтение информации об игроке.

        По-умолчанию ответ не содержит каких-либо данных. Для того чтобы добавить в ответ какие-то из параметров игрока, нужно указать их соотвествующими параметрами запроса `get_*`.
      operationId: PlayerGet
      parameters:
      - description: PlayerID игрока
        explode: false
        in: path
        name: player_id
        required: true
        schema:
          $ref: '#/components/schemas/PlayerID'
        style: simple
      - description: Включить в ответ `talent_id`
        explode: true
        in: query
        name: get_talent_id
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Включить в ответ `player_ids`
        explode: true
        in: query
        name: get_player_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGet_200_response'
          description: OK
        "403":
          $ref: '#/components/responses/Error'
          description: "Используется токен игрока, отличного от параметра `player_id`"
        default:
          $ref: '#/components/responses/Error'
      security:
      - BerlogaJWT: []
      - ServiceKey: []
      summary: Чтение информации об игроке
      tags:
      - application
      - service
    parameters:
    - description: PlayerID игрока
      explode: false
      in: path
      name: player_id
      required: true
      schema:
        $ref: '#/components/schemas/PlayerID'
      style: simple
    - description: Включить в ответ `talent_id`
      explode: true
      in: query
      name: get_talent_id
      required: false
      schema:
        default: false
        type: boolean
      style: form
    - description: Включить в ответ `player_ids`
      explode: true
      in: query
      name: get_player_ids
      required: false
      schema:
        default: false
        type: boolean
      style: form
  /players:
    post:
      description: Регистрация нового PlayerID.
      operationId: PlayersCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayersCreate_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayersCreate_201_response'
          description: Зарегистрирован
        default:
          $ref: '#/components/responses/Error'
      summary: Регистрация нового игрока
      tags:
      - application
  /players/migrate:
    post:
      description: |-
        Миграция имеющихся данных о PlayerID под актуальное API сервисов Берлоги.

        В ответе возвращается PlayerSecret, который обязательно нужно сохранить на клиенте. Без него не получится пройти авторизацию клиентского API и они станут не доступны для этого PlayerID.
      operationId: PlayersMigrate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayersMigrate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayersMigrate_200_response'
          description: OK
        default:
          $ref: '#/components/responses/Error'
      summary: Миграция legacy PlayerID
      tags:
      - application
  /talent/{talent_id}/players:
    get:
      operationId: TalentUserPlayers
      parameters:
      - $ref: '#/components/parameters/talent_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerID'
                type: array
          description: OK
        default:
          $ref: '#/components/responses/Error'
      security:
      - ServiceKey: []
      - TalentOAuth: []
      summary: Список PlayerID пользователя Таланта
      tags:
      - service
    parameters:
    - $ref: '#/components/parameters/talent_id'
  /talent/{talent_id}/token:
    get:
      operationId: TalentUserTokenGet
      parameters:
      - $ref: '#/components/parameters/talent_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          $ref: '#/components/responses/Error'
      security:
      - ServiceKey: []
      summary: TalentOAuth токен пользователя
      tags:
      - service
    parameters:
    - $ref: '#/components/parameters/talent_id'
  /talent-oauth/connect:
    get:
      description: Перенаправление на клиентский эндпонит OAuth авторизации Берлоги
        в Таланте.
      operationId: TalentOAuthConnect
      parameters:
      - description: URI перенаправления пользователя после авторизации Берлоги в
          Таланте.
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          type: string
        style: form
      responses:
        "302":
          description: OK
          headers:
            Location:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        default:
          $ref: '#/components/responses/Error'
      security:
      - BerlogaJWT: []
      summary: Перенаправление на авторизацию
      tags:
      - application
  /talent-oauth/disconnect:
    post:
      description: "Если у игрока и так (уже) нет авторизованной учетной записи Та\
        ланта, то метод вернет `204` ответ так же как при успешном отсоединении он\
        ой."
      operationId: TalentOAuthDisconnect
      responses:
        "204":
          description: OK
        default:
          $ref: '#/components/responses/Error'
      security:
      - BerlogaJWT: []
      summary: Отсоединение учетной записи Таланта
      tags:
      - application
  /talent-oauth/complete:
    get:
      description: Эндпоинт завершения авторизации Берлоги и перенаправление в приложение.
      operationId: TalentOAuthComplete
      parameters:
      - explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "302":
          description: OK
          headers:
            Location:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        default:
          $ref: '#/components/responses/Error'
      summary: Завершение авторизации в Таланте
      tags:
      - application
    parameters:
    - explode: true
      in: query
      name: code
      required: true
      schema:
        type: string
      style: form
    - explode: true
      in: query
      name: state
      required: true
      schema:
        format: uuid
        type: string
      style: form
  /talent-oauth/authorize:
    post:
      operationId: TalentOAuthAuthorize
      parameters:
      - description: TalentOAuth access_token
        explode: false
        in: header
        name: X-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        default:
          $ref: '#/components/responses/Error'
      security:
      - BerlogaJWT: []
      summary: Авторизация существующим токеном
      tags:
      - web
components:
  parameters:
    offset:
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 0
        format: int32
        type: integer
        minumum: 0
      style: form
    limit:
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 20
        format: int32
        maximum: 50
        type: integer
        minumum: 1
      style: form
    talent_id:
      description: ID пользователя Таланта
      explode: false
      in: path
      name: talent_id
      required: true
      schema:
        format: int32
        type: integer
      style: simple
  responses:
    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      description: Ошибка обработки запроса
  schemas:
    ApplicationID:
      description: Идентификатор приложения.
      format: uuid
      type: string
    PlayerID:
      description: Идентификатор игрока.
      format: uuid
      type: string
    PlayerSecret:
      description: Секретный ключ игрока.
      type: string
    Application:
      description: Приложение.
      example:
        icon_url: icon_url
        updated_at: 2000-01-23T04:56:07.000+00:00
        launch_url: launch_url
        intro: intro
        is_public: true
        name: name
        package_name: package_name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        store_url: store_url
      properties:
        id:
          description: Идентификатор приложения.
          format: uuid
          type: string
        created_at:
          description: Дата создания приложения.
          format: date-time
          type: string
        updated_at:
          description: Дата обновления приложения.
          format: date-time
          type: string
        is_public:
          description: Является ли приложене опубликованным.
          type: boolean
        name:
          description: Название приложения.
          type: string
        icon_url:
          description: URL изображения приложения для лаунчера.
          type: string
        package_name:
          description: Идентификатор Android приложения.
          type: string
        store_url:
          description: URL страницы для скачивания приложения.
          type: string
        launch_url:
          description: DeepLink для запуска приложения.
          type: string
        intro:
          description: Вступительное описание.
          type: string
      required:
      - created_at
      - icon_url
      - id
      - intro
      - is_public
      - launch_url
      - name
      - package_name
      - store_url
      - updated_at
    IssueToken_request:
      properties:
        application_id:
          description: Идентификатор приложения.
          format: uuid
          type: string
        player_id:
          description: Идентификатор игрока.
          format: uuid
          type: string
        player_secret:
          description: Секретный ключ игрока.
          type: string
      required:
      - application_id
      - player_id
      - player_secret
    IssueToken_201_response:
      example:
        expires_in: 0
        token: token
      properties:
        token:
          description: Аутентификационный токен.
          format: jwt
          type: string
        expires_in:
          description: Кол-во секунд через которое истечет срок жизни токена.
          format: int32
          type: integer
      required:
      - expires_in
      - token
    PlayerGet_200_response:
      example:
        player_ids:
        - null
        - null
        talent_id: 0
      properties:
        talent_id:
          description: "Возвращается, если передан параметр `get_talent_id=true`.\
            \ Если у игрока не имеется привязанной учетной записи Таланта, значени\
            ем будет `null`."
          format: int32
          type: integer
          nullable: true
        player_ids:
          description: "Возвращается, если передан параметр `get_player_ids=true`."
          items:
            $ref: '#/components/schemas/PlayerID'
          type: array
    PlayersCreate_request:
      properties:
        application_id:
          description: Идентификатор приложения.
          format: uuid
          type: string
        device_id:
          description: DeviceID
          type: string
      required:
      - application_id
      - device_id
    PlayersCreate_201_response:
      example:
        player_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        player_secret: player_secret
      properties:
        player_id:
          description: Идентификатор игрока.
          format: uuid
          type: string
        player_secret:
          description: Секретный ключ игрока.
          type: string
      required:
      - player_id
      - player_secret
    PlayersMigrate_request:
      properties:
        application_id:
          description: Идентификатор приложения.
          format: uuid
          type: string
        player_id:
          description: Идентификатор игрока.
          format: uuid
          type: string
      required:
      - application_id
      - player_id
    PlayersMigrate_200_response:
      example:
        player_secret: player_secret
      properties:
        player_secret:
          description: Секретный ключ игрока.
          type: string
      required:
      - player_secret
    inline_object:
      example:
        error_message: error_message
        verbose_message: verbose_message
      properties:
        error_message:
          description: "Текстовое описание ошибки. В первую очередь предназначено\
            \ для разработчиков. Но в случае отсуствия `verbose_message` в ответе\
            , можно использовать и `error_message`."
          type: string
        verbose_message:
          description: Человеко-понятное описание ошибки. Присуствует только в некоторых
            случаях.
          type: string
      required:
      - error_message
  securitySchemes:
    BerlogaJWT:
      description: "JWT, полученный эндпоинтом [issue-token](#operation/issueToken)."
      in: header
      name: Authorization
      type: apiKey
    TalentOAuth:
      bearerFormat: JWT
      description: "JWT, полученный [OAuth провайдером платформы Талант](/api/docs/)."
      scheme: bearer
      type: http
    ServiceKey:
      in: header
      name: X-Service-Key
      type: apiKey

